html,
body {
  margin: 0;
}
a {
  text-decoration: none;
}
#AsusZF9 {
  --full-width: 1920;
}
#AsusZF9 section {
  position: relative;
  width: 100%;
  overflow: hidden;
}
#AsusZF9 .section-main {
  width: calc(0.75521px * var(--full-width));
  margin: 0 auto;
}
#AsusZF9 .section-main .video {
  display: block;
  width: 100%;
  height: calc(0.49479px * var(--full-width));
  object-fit: cover;
  clip-path: inset(1px 1px);
}
#AsusZF9 .section-main .title {
  margin: 0;
  font-size: 0;
  width: calc(0.52083px * var(--full-width));
  height: calc(0.0375px * var(--full-width));
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  background-image: url("../image/logo_2x.png");
  position: absolute;
  top: calc(0.02083px * var(--full-width));
  left: 50%;
  margin-left: calc(-0.33854px * var(--full-width));
}
#AsusZF9 .section-main .subtitle {
  margin: 0;
  font-size: 0;
  width: calc(0.52083px * var(--full-width));
  height: calc(0.07448px * var(--full-width));
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  background-image: url("../image/slogan.png");
  position: absolute;
  top: calc(0.0625px * var(--full-width));
  left: 50%;
  margin-left: calc(-0.35156px * var(--full-width));
}
#AsusZF9 .section-main .download-ics-btn {
  display: flex;
  align-items: center;
  padding: 0 calc(0.00781px * var(--full-width));
  border-radius: calc(0.00781px * var(--full-width));
  width: auto;
  height: calc(0.04167px * var(--full-width));
  background-color: #cacaca;
  font-family: "TT-Norms-Bold", "Roboto", "Segoe UI", sans-serif !important;
  font-size: calc(0.01458px * var(--full-width));
  color: #668197;
  white-space: nowrap;
  position: absolute;
  bottom: calc(0.07031px * var(--full-width));
  right: 50%;
  margin-right: calc(-0.3776px * var(--full-width));
}
#AsusZF9 .section-main .download-ics-btn:hover {
  color: #fff;
  background-color: #668197;
}
#AsusZF9 .section-main .download-ics-btn .icon {
  display: block;
  width: calc(0.02708px * var(--full-width));
  height: calc(0.02813px * var(--full-width));
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../image/cal_1x.png");
  margin-right: calc(0.00417px * var(--full-width));
}
#AsusZF9 .section-main .cities {
  position: absolute;
  bottom: calc(0.13281px * var(--full-width));
  right: 50%;
  margin-right: calc(-0.36719px * var(--full-width));
}
#AsusZF9 .section-main .cities .city {
  text-align: right;
  white-space: nowrap;
  margin-top: calc(0.03125px * var(--full-width));
}
#AsusZF9 .section-main .cities .city__name {
  font-family: "TT-Norms-Bold", "Roboto", "Segoe UI", sans-serif !important;
  font-size: calc(0.01563px * var(--full-width));
  color: #668197;
  margin-bottom: calc(0.00156px * var(--full-width));
}
#AsusZF9 .section-main .cities .city__date,
#AsusZF9 .section-main .cities .city__time {
  font-size: calc(0.01354px * var(--full-width));
  color: #5f5f5f;
}
